{% extends 'modal.html' %}
{% block scripting %}
<style>
#wrap {
margin: 0;
padding: 0;
}
</style>
{% endblock %}
{% block page-content %}
<form id="form1" name="form1" method="POST" action="doors/">
    {% csrf_token %}
<div class="fieldWrapper">
    <label for="{{ form.number.id_for_label }}">Door Number:</label>
    {{ form.number }}
</div>
<div class="fieldWrapper">
    <label for="{{ form.name.id_for_label }}">Door Name:</label>
    {{ form.name }}
</div>
<br />
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed table-head">
        <thead>
            <tr>
                <th class="hidden">ID</th>
                <th> Device Type</th>
                <th>Manufacture</th>
                <th>Model</th>
            </tr>
        </thead>
    </table>
    <div class="table-body scrollable" style="height:200px; overflow:auto">
        <table class="table table-striped table-hover table-condensed table-scrollable" data-toggle="table">
            <tbody class="searchable" >
                {% for obj in list %}
                <tr>
                    <td class="hidden" id="id">{{ obj.id }}</td>
                    <td>{{ obj.type }}</td>
                    <td>{{ obj.manufacture }}</td>
                    <td>{{ obj.model }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
  <label class="action-forward">
    <input type="submit" name="submit" id="save"  class="btn btn-default">Save</a>
  </label>
</form>
{% endblock %}